.container {
  max-width: 1200px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  margin-top: 20px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  margin-top: 20px;
  background-color: #FFAAF1 ;
  border: none;
  color: black
}
.btn-primary:hover{
    background-color: #f070d8;
    color: black
}
.btn-secondary{
    background-color: #76EA73 ;
    border: none;
}
.btn-secondary:hover{
    background-color: rgb(150, 240, 148) ;
    color: black
}

.btn-secondary:focus{
    background-color: #239D21 
     ;
}