body{
 
  font-family: lemon;
}

.App {
  text-align: center;
}

body{
  font-family: lemon;
}

.mysidenav {
  text-align: center;
  background-color: #B9F9B8 !important; /* Change background color to green */
  font-weight: 500;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mysidenav {
  text-align: center;
  background-color: #B9F9B8 !important; /* Change background color to green */
  font-weight: 500;
  height: 100vh;
  position: fixed;
}
